version: '3.9'
services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - '6380:6379'
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

